@font-face {
    font-family: "Determination";
    src: url(ressources/fonts/determination-mono-web-font/DeterminationMonoWebRegular-Z5oq.ttf) format('truetype'),
        url(ressources/fonts/determination-mono-web-font/DeterminationSansWebRegular-369X.ttf) format('truetype');
}


::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    z-index: 1;
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}


html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Determination', sans-serif;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    overflow: overlay;
    text-align: center;
}

#sc1,
#sc2,
#sc3,
#sc4,
#sc5,
#sc6 {
    padding-top: 80px;
}

ul.exception {
    text-align: left;
}

ul.talents {
    list-style-type: none;
    padding: 0;
}

ul.talents li {
    font-size: xx-large;
    font-weight: 200;
}

div.realisations {
    list-style-type: none;
}

a.real-lien {
    font-size: xx-large;
    font-weight: 200;
}

p::selection {
    background-color: rgb(22, 247, 255);
}

h1::selection {
    background-color: rgb(22, 247, 255);
}

li::selection {
    background-color: rgb(22, 247, 255);
}

a::selection {
    background-color: rgb(22, 247, 255);
}

p,
h1,
h5,
li {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

div.page {
    padding-top: 80px;
}

h1 {
    font-size: xx-large;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

a.nav-link:hover {
    color: yellow;
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

header.menu-bar {
    position: fixed;
    background-color: rgb(11, 11, 11);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

img.wow {
    border-radius: 500px;
    height: 100px;
}

img.bk-logo {
    height: 100%;
    padding-left: 50px;
}

img.star {
    width: 20px;
    display: block;
}

img.bauko-logo {
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.7));
    min-width: 50%;
    height: auto;
}

img.screen {
    max-width: 45%;
    border-radius: 10px;
    padding: 5px;
}

img.draw {
    width: 100%;
}

img.campus26 {
    width: 15%;
    margin: 20px;
}

img.inkcat2 {
    width: 5%;
    margin: 20px;
}

img.dog {
    width: 10%;
}

img.pic {
    width: 33.5%;
    padding: 10px;
}

li.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

div.pics {
    display: flex;
    align-items: center;
}

div.inkcat1 {
    width: 128px;
    height: 128px;
    margin: 50px;
    background-image: url(ressources/inkcat1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 47%;
}

div.inkcat1:hover {
    background-image: url(ressources/inkcat-question1.svg);
}

ul.ancres {
    font-size: x-large;
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

/* ^ code à pas toucher ^  */

div>p, h5 {
    font-size: x-large;
}

div.sc-page {
    padding: 100px;
}

div.sc1-pg1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black), url(ressources/webp/sky.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.bjr-eth {
    text-align: left;
}

div.sc1-pg2 {
    display: flex;
    align-items: center;
}

div.grp-screen {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; 
}

div.sc2-pg2 {
    background: linear-gradient(black, rgba(0, 0, 0, 0), black), url(ressources/webp/code.webp);
}

div.sc3-pg1 {
    display: flex;
    justify-content: space-around;
}

div.sc4-pg1 {
    background: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), linear-gradient(black, rgba(0, 0, 0, 0), black), url(ressources/webp/ruins.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

div.sc4-pg1 p {
    /* padding-top: 10px; */
    padding-bottom: 50px;
}

div.talent-box {
    border: white solid 10px;
    min-width: 300px;
}

div.affinity-box {
    border: white solid 10px;
    padding: 20px;
}
div.real-box {
    border: white solid 10px;
    padding: 20px;
}

div.music {
    padding: 70px;
}

/* elprogress bars  */

div.bar {
    background-color: red;
    max-width: 97%;
    min-width: 100%;
    position: relative;
    height: 15px;
}

span.elprogress {
    background-color: yellow;
    position: absolute;
    height: 15px;
}

span.elprogress.py {
    width: 10%;
}

span.elprogress.js {
    width: 55%;
}

span.elprogress.cs {
    width: 15%;
}

span.elprogress.sql {
    width: 50%;
}

span.elprogress.html {
    width: 80%;
}

span.elprogress.php {
    width: 75%;
}

span.elprogress.css {
    width: 85%;
}



.hamburger {
    display: none;
}

.bar {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

@media only screen and (max-width: 1440px) {
    ul.slides {
        height: 60vh;
    }
}

@media only screen and (max-width: 1320px) {
    ul.slides {
        height: 50vh;
    }

    img.bk-logo {
        padding-left: 10px;
    }

    .portfo {
        font-size: larger;
    }

    ul.ancres {
        font-size: x-large;
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
    }

    .ancres {
        position: fixed;
        left: -100%;
        top: 55px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.99);
        width: 100%;
        border: 5px white solid;
        border-left-style: none;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .ancres.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


.carousel {
    width: 80%;
    margin: auto;
}



@media only screen and (max-width: 1150px) {
    ul.slides {
        height: 40vh;
    }

    .carousel {
        width: 90%;
    }

    img.inkcat2 {
        width: 10%;
    }

    img.dog {
        width: 10%;
    }
}

@media only screen and (max-width: 950px) {
    ul.slides {
        height: 30vh;
    }

    div.grp-screen {
        flex-wrap: wrap;
    }

    .carousel {
        width: 100%;
    }
}


@media only screen and (max-width: 800px) {

    /* Pour les tablettes  */
    div.sc-page {
        padding: 50px;
    }

    div.sc1-pg1 {
        flex-wrap: wrap;
    }

    div.sc1-pg2 {
        flex-wrap: wrap;
    }

    div.sc3-pg1 {
        flex-wrap: wrap;
    }

    div.bjr-eth {
        text-align: center;
    }

    div.inkcat1 {
        margin-left: 42%;
    }
}

@media only screen and (max-width: 650px) {
    ul.slides {
        height: 20vh;
    }

    img.star {
        display: none;
    }

    img.screen {
        width: 100%;
    }
}


@media only screen and (max-width: 500px) {

    /* Pour les smartphones  */
    div.sc-page {
        padding: 15px;
    }

    div.sc1-pg1 {
        flex-wrap: wrap;
    }

    div.sc1-pg2 {
        flex-wrap: wrap;
    }

    div.sc3-pg1 {
        flex-wrap: wrap;
    }

    div.bjr-eth {
        text-align: center;
    }

    div.inkcat1 {
        margin-left: 35%;
    }

    div.music {
        padding: 0;
    }
    
    img.dog {
        width: 20%;
    }
}